@font-face {
    font-family: 'aldiaFont'; /* Puedes elegir el nombre que desees */
    src: url('../fonst/good_times_rg.otf') format('woff2'), /* Formato WOFF2 */

  }
:root {
--color-primary: #043249;
--color-secondary: #FF7F3E;
}

.navBar_container{
    background-color: var(--color-primary);
    padding: 5px 0 5px 0;
}

.text-logo{
    color: white;
    font-family: aldiaFont;
}
.active{
    color: var(--color-secondary);
    font-weight: bold;
}
.inactive{
    color:white;
    font-weight: bold;
}

.active:hover{
    color: #d86932;
}
.inactive:hover{
    color:rgb(192, 192, 192)
}