@font-face {
    font-family: 'aldiaFont';
    src: url('../fonst/good_times_rg.otf') format('woff2')
}


:root {
--color-primary: #043249;
--color-secondary: #FF7F3E;
}

p,h1,h2,h3,h4,h5{
    font-family: Roboto;
}



.text-logo{
    color: white !important;
    font-family: aldiaFont;
}

.item_menu{
    font-family: Roboto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px 0 10px 20px;
    font-size: 14px;
}
.active{
    background-color: #022A3E;
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 14px;
}
.inactive{
    color:white;
}

.inactive:hover{
    color:rgb(192, 192, 192)
}

.nav_botton{
    display: none;
}


.vertical_nav{
    background-color: var(--color-primary) !important;
}

.vertical_nav header{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.vertical_nav header ul{
    justify-content: center !important;
}

.nav_avatar_name{
    font-family: Roboto;
    font-size: 15;
}
.nav_avatar_ocupation{
    font-family: Roboto;
    font-size: 12;
    color:#7B7B7B;
}

.searh_input{
    position: relative;
}

.searh_input{
    padding-left: 30px;
    font-family: Roboto;
}
.searh_input:focus{
    border-color: #7B7B7B;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6);
}

.searh_input {
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x:8px;

}

.navBar_container{
    z-index: 30;
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(2px);
}

@media only screen and (max-width:767px){
    .nav_botton{
        z-index: 80;
        display: inline;
        position: fixed;
        bottom: 0;
        height: 60px;
        background-color: #c9c9c9;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_botton-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
    }
    .nav_botton--item{
        padding: 10px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav_botton--item svg{
        border-radius: 50%;
        font-size: 25px;
        color: var(--color-primary);
    }
    .active{
        transition: background-color 1s ease;
        background-color:#b9b9b9;
    }
    .active svg{
        color: var(--color-secondary);
    }

}