:root {
    --color-primary: #043249;
    --color-secondary: #FF7F3E;
    --color-third: rgb(121, 121, 121);
    }


.form-container{
    -webkit-box-shadow: 0px 10px 64px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 10px 64px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 10px 64px 0px rgba(0,0,0,0.08);
}

.section-new-user{
    background-image: url("../img/bg-new-users.webp");
    background-repeat: no-repeat;
    background-size: cover;
}