@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: #043249;
  --color-secondary: #FF7F3E;
  --color-third: rgb(121, 121, 121);
}

*,p,h1,h2,h3,h4,h5,h6{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  min-height: 95vh;
}

.react-confirm-alert-overlay{
  background-color: #979797c9 !important;
}
.react-confirm-alert-body{
  background-color: var(--color-primary) !important;
}
.react-confirm-alert-body{
  color: rgb(253, 253, 253) !important;
}
.react-confirm-alert-button-group > button:nth-child(1){
  background-color: var(--color-secondary);
}

.message_toas{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.message_toas svg{
  fill: rgb(59, 59, 59);
  width: 30px;
  height: 30px;
}

.toas_message_ok, .toas_message_error {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.toas_message_ok svg{
  fill: rgb(50, 214, 0);
}
.toas_message_error svg{
  fill: rgb(214, 25, 0);
}


footer h2{
  color: rgb(143, 143, 143);
}